{% extends "base.html" %}
{% load static %}
{% block header %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet"/>
    <script src="{% static '/control/scripts/index.js' %}"></script>

{% endblock %}

{% block contentHeader %}
    <div class="center-block" style="width: 500px">
        <span>
            <label>
                执行指令:
                <br />
                    <input type="text" name="cmd" id="cmd"  class="form-control" placeholder="shell指令"/>
            </label>
        </span>
        <br />
        <span>
            <label>
            执行设备:
                <br />
            <select class="selectpicker" multiple data-live-search="true" data-live-search-placeholder="搜索"
                    data-actions-box="true" id="ip" name="ip">
                <option value="0">----</option>
                {% for key, value in name.items %}
                    <option value={{ key }}>{{ value }}</option>
                {% endfor %}
            </select>
            </label>
        </span>
        <br/>
        <span>
            <button type="submit" id="submit_post" data-loading-text="Loading..." class="btn btn-primary"
                    autocomplete="off">
                        执行
            </button>
        </span>
    </div>
{% endblock %}