{% extends "base.html" %}
{% load static %}
{% block header %}
{#    bootstrap tabble  cdn  #}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="{% static 'scripts/detail.js' %}"></script>
{% endblock %}

{% block contentHeader %}
    <h1 style="text-align: center">详细列表</h1>
    <table id="table"></table>
{% endblock %}
