<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../scripts/demon1.js"></script>
    <link rel="stylesheet" href="css/demon1.css">
</head>
<body>
<h2>This is a heading</h2>
<p>This is a paragraph.</p>
<p id="test">This is <b>another</b> paragraph.</p>
<button type="button">Click me</button>
<br/>
<br/>
<label>
    <input value="hello world">
</label>
<br/>
<br/>
<button id="textalert">弹框</button>
<br/>
<br/>
<label for="selecttest"><select id="selecttest"></select></label>
<input id="selecttestinput" type="hidden" value="hidden"/>
<ul id="fruit">
    <li><label>
        <input type="checkbox" value="0001"/>
    </label>苹果
    </li>
    <li><label>
        <input type="checkbox" value="0002"/>
    </label>梨子
    </li>
    <li><label>
        <input type="checkbox" value="0003"/>
    </label>芒果
    </li>
    <li><label>
        <input type="checkbox" value="0004"/>
    </label>山楂
    </li>
    <li><label>
        <input type="checkbox" value="0005"/>
    </label>香蕉
    </li>
</ul>
<span id="a" hidden="hidden">我来了</span>
<p hidden="hidden" id="aa">这是一段隐藏的段落。</p>
<p>这是一段可见的段落。</p>
0:<input name="test" value="ww" id="w" type="hidden"/>
1:<label for="q"><input type="text" name="test" value="" id="q" hidden="hidden"/></label>
2:<label for="b"><input type="text" name="test" value="test" style="display:none;" id="b"/></label>
3:<input type="hidden" name="test" value="h" id="c"/><br>
4：<div id="ds" type="hidden">为什么</div>
<button onclick="w()">showMe</button>
<button onclick="d()">hideMe</button>
<button onclick="qq()">hideMe</button>
<table class="table table-hover">
    <tr>
        <th>ls</th>
        <td>ls</td>
    </tr>
        <tr>
        <th>ls</th>
        <td>ls</td>
    </tr>
        <tr>
        <th>ls</th>
        <td>ls</td>
    </tr>
</table>
</body>
</html>