{% extends "base.html" %}
{% load static %}
{% block header %}
    <script src="https://img.hcharts.cn/highstock/highstock.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="{% static "/scripts/index.js" %}"></script>
{% endblock %}

{% block contentHeader %}
    <div id="container" style="min-width:400px;height:400px"></div>
    <div id="container1" style="height: 400px; min-width: 600px"></div>
{% endblock %}