{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign In</title>

      <link rel="stylesheet" href="{% static 'web/css/signin.css' %}">
      <link rel="stylesheet" type="text/css"
            href="{% static 'AdminLTE-2.4.1/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
      <script src="{% static "web/scripts/html5shiv.min.js" %}"></script>
      <script src="{% static "web/scripts/respond.min.js" %}"></script>
  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="/login/" method="post">
          <h2 class="form-signin-heading">Please sign in</h2>
          <span style="color: red">{{ error }}</span>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="username" id="inputEmail" class="form-control" placeholder="username" required autofocus
                 name="username">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"
                 required>
          <div class="checkbox">
              <label>
            <input type="checkbox" name="remember" value="remember-me"> Remember me
          </label>
            <label>
                <a href="/signup/" style="margin-left: 100px;">Sign up</a>
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


  </body>
</html>