{% extends "base.html" %}
{% load static %}
{% block header %}
    <script src="{% static "web/scripts/highstock.js"%}"></script>
    <script src="{% static "web/scripts/exporting.js" %}"></script>
    <script src="{% static "web/scripts/highcharts-zh_CN.js" %}"></script>
    <script src="{% static "web/scripts/skies.js" %}"></script>
{#    <script src="{% static "web/scripts/dark-unica.js" %}"></script>#}
    <script src="{% static "web/scripts/index.js" %}"></script>
{% endblock %}

{% block contentHeader %}

{#    <div id="container1" style="height: 400px; min-width: 600px"></div>#}
    <div style="margin: 15px">
        <label>
        <select id="netname" class="selectpicker" data-style="btn-info" onchange="window.location=this.value;">
            <option value="#">请选择查看的网卡</option>
            {% for each in name %}
                <option value="/web/netstat/{{ each }}" id="{{ each }}">{{ each }}</option>
            {% endfor %}
        </select>
    </label>
    <input type="hidden" id="{{ netname }}_on">
    <input type="hidden" id="{{ netname }}_down">
    </div>

    <div id="netstat" style="min-width:400px;height:500px"></div>
{% endblock %}