{% extends "base.html" %}
{% load static %}
{% block header %}
    <script src="{% static 'scripts/detail/ewin_min.js' %}"></script>
    <script src="{% static "scripts/disk/adddisk.js" %}"></script>
{% endblock %}

{% block contentHeader %}
    <h1 style="text-align: center">添加硬盘</h1>
    <div id="toolbar" class="btn-group">
        <button id="disk_start_back" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>开启备盘
        </button>
        <button id="disk_stop_back" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>关闭备盘
        </button>
    </div>
    <table id="diskback"></table>
{% endblock contentHeader %}