{% extends "base.html" %}
{% load static %}
{% block header %}
    <script src="{% static 'scripts/detail/ewin_min.js' %}"></script>
    <script src="{% static "scripts/disk/adddisk.js" %}"></script>
{% endblock %}

{% block contentHeader %}
    <h1 style="text-align: center">添加硬盘</h1>
    <div id="toolbar" class="btn-group">
        <button id="disk_add" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>添加硬盘
        </button>
    </div>
    <table id="addtable"></table>
{% endblock contentHeader %}